<div class="contents">
  <p style="font-size:80px">
    SnowManの<br>
    良さを伝えるSNS
  </p>

  <p style="font-size:20px; margin-top:100px;">
    Iwamoto / Fukazawa / Raul / Watanabe / Mukai / Abe / Meguro / Miyadate / Sakuma
  </p>
</div>