<div class="wrapper">

<div class="slider">
  <h1><%= link_to "START!", post_images_path %></h1>
  <ul class="slider-top">
    <li class="slider-item slider-item01"></li>
    <li class="slider-item slider-item02"></li>
    <li class="slider-item slider-item03"></li>
  </ul>
  <ul class="slider-bottom" dir="rtl"><!--/スライダの表示方向を左⇒右に変更するためにdir="rtl"を追加-->
    <li class="slider-item slider-item04"></li>
    <li class="slider-item slider-item05"></li>
    <li class="slider-item slider-item06"></li>
  </ul>
<!--/slider--></div>




<!--/wrapper--></div>