/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  background-color: #FFFFEE	;
  display: flex;
  height: 100px;
}

ul {
  display: flex;
  list-style: none;
  margin: 5px;
}

.nav {
  margin-left: 35%;
}
.nav-item {
  padding-top: 40px;
}

body {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.border {
  display: flex;
  height: 100px;
  width: 100%;
  background-image: url(wave-orange.png);
  background-repeat: repeat-x;
}

.contents {
  text-align: center;
  margin: 0 auto;
}

.main {
  background-image: url(1349909.png);
  background-position: center;
  background-size: cover;
  background-position: bottom;
  height: 1000px;
}

footer {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #fff;
  background-image: url(742466.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
  color: black;
  text-align: center;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.post {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 20px;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin: 10px auto 0 10px;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

/* 吹き出し本体 */
.balloon1{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #FFFFCC;
}

/* 三角アイコン */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #FFFFCC;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}